*, :before, :after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu';
  font-size: 0.95rem;
  text-align: center; }

body {
  background: #accfcc; }

ol {
  list-style-position: inside; }

a:link {
  color: #8a0917; }

a:visited {
  color: #8a0917; }

a:hover {
  color: #595241; }

a:active {
  color: #595241; }

li:not(:last-child) {
  margin-bottom: 0.25rem; }

input[type='file'] {
  display: none; }

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1.5rem;
  border: 1px solid black;
  background: #b8ae9c; }

.file-metadata--title {
  font-family: 'Playfair Display';
  color: #8a0917;
  font-weight: bold;
  font-size: 3.5rem;
  margin-bottom: 0.5rem;
  line-height: 100%;
  text-indent: 0.75rem; }

.file-metadata--subtitle {
  color: #8a0917;
  font-weight: bold;
  font-size: 0.9rem;
  margin-bottom: 0.2rem; }

.file-metadata__userstories--title {
  font-weight: bold;
  font-size: 1.4rem;
  margin-bottom: 0.2rem;
  margin-top: 1rem; }

.file-metadata__userstories--text {
  margin-left: 1.5rem; }

.file-metadata__form {
  position: relative;
  margin-top: 1.2rem; }
  .file-metadata__form--file, .file-metadata__form--submit {
    color: #8a0917;
    width: 100px;
    border: 1px solid black;
    background: #accfcc;
    padding: 0.5rem;
    vertical-align: middle;
    display: inline-block;
    font-weight: bold; }
    .file-metadata__form--file:hover, .file-metadata__form--submit:hover {
      color: #595241;
      cursor: pointer; }
  .file-metadata__form--uploadedFile {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .file-metadata__form--submit {
    margin-left: 10rem; }

.footer {
  margin-top: 2rem; }
