$primary-color: #8a0917;
$secondary-color: lighten(#595241, 10%);
$background-color: #b8ae9c;
$body-color: #accfcc;

@mixin title($font-size: 1.4rem, $margin-bottom: 0.2rem) {
  font-weight: bold;
  font-size: $font-size;
  margin-bottom: $margin-bottom;
}

*, :before, :after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu';
  font-size: 0.95rem;
  text-align: center;
}

body {
  background: $body-color;
}

ol {
  list-style-position: inside;
}

a {
  &:link {
    color: $primary-color;
  }
  &:visited {
    color: $primary-color;
  }
  &:hover {
    color: $secondary-color;
  }
  &:active {
    color: $secondary-color;
  }
}

li:not(:last-child) {
  margin-bottom: 0.25rem;
}

input[type='file'] {
    display: none;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 500px;
  padding: 1.5rem;
  border: 1px solid black;
  background: $background-color;
}

.file-metadata {
  &--title {
    font-family: 'Playfair Display';
    color: $primary-color;
    @include title(3.5rem, 0.5rem);
    line-height: 100%;
    text-indent: 0.75rem;
  }
  &--subtitle {
    color: $primary-color;
    @include title(0.9rem);
  }
  &__userstories {
    &--title {
      @include title();
      margin-top: 1rem;
    }
    &--text {
      margin-left: 1.5rem;
    }
  }
  &__form {
      position: relative;
      margin-top: 1.2rem;

    &--file, &--submit {
      color: $primary-color;
      width: 100px;
      border: 1px solid black;
      background: lighten($background-color, 20%);
      padding: 0.5rem;
      vertical-align: middle;
      display: inline-block;
      font-weight: bold;
      &:hover {
          color: $secondary-color;
          cursor: pointer;
      }
    }
    &--uploadedFile {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &--submit {
        margin-left: 10rem;
    }
  }
}

.footer {
  margin-top: 2rem;
}
